
<body *ngIf="volver==false && agregarPlatillo==false">
	<lista></lista>	
	<p class='text-center bg-danger text-white' *ngIf="vacio">necesita agregar platillos</p>
	<div>
		<button type="button" pButton class="center btn btn-outline-dark btn-lg" label="Agregar nuevo platillo" (click)="agregarPlatillo=true"></button>
		<button type="button" pButton class="izq btn btn-outline-dark btn-lg" label="Volver" (click)="volver=true"></button>
	</div>
	
</body>
<administrador *ngIf="volver==true"></administrador>
<platillo *ngIf="agregarPlatillo==true"></platillo>