<h2 class='text-center text-black'>Platillos disponibles</h2>
<div>
<ul>
    <li class="text" *ngFor="let item of items">
    <h3 class='text-center bg-dark text-white'>{{item.name}}</h3>
      <br>
      <img class="center" src={{item.image}} width="650" height="500">  
      <br><br>
      <p class='text-center bg-dark text-white'>$ {{item.price}}</p>
      <p class='text-center bg-dark text-white'>{{item.description}}</p>
      <button type="button" pButton class="center2" label="editar" ></button>
      <button type="button" pButton class="center2" label="eliminar" ></button>
      <br><br><br><br><br>
    </li>
</ul>
</div>