<!-- botones para el inicio de sesión del administrador-->
<div class="center" *ngIf="verPedidos==false && verPlatillos==false">
	<p></p> 
	<button type="button" pButton class="btn  btn-lg py-4" label="Administrar platillos" (click)="verPlatillos=true"></button>
	<p></p>   
	<button type="button" pButton class="btn  btn-lg py-4" label="Administrar pedidos" (click)="verPedidos=true"></button>
	<p></p>
	
</div>

<p></p>
<listaPlatillos *ngIf="verPlatillos">
</listaPlatillos>
<listaPedidosActivos *ngIf="verPedidos">
</listaPedidosActivos>
<p></p>